#logoBarra{
    width: 10%;
}

.nav{
    background-color: grey;
    padding-left: 0%;     
    margin-left: 5%;
    width: 94.2%;
    
}

/*Color y fuente del texto de navbar*/
.nav-link{
    color: antiquewhite;
    padding: 50px;
    font-size: 200%;
    font-style: italic;
}

#fondoTrasero{    
    background-color: black;
}

#fondoTrasero2{
    background-color: tan;
    margin-left: 3%;
    margin-right: 3%;    
}

#carouselExample{
    width: 45%;
    margin-left: 25%;    
}

.col{
    margin-bottom: 8%;
}

.carousel-item{
    height: 300px;
    object-fit: cover;
}

.card-img-top{
    height: 400px;
    object-fit: cover;    
}

.mb-3{    
    margin-top: 5%;
}